* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
}



.card {
    margin: 25px auto;
    width: 292px;
    height: 462px;
    border: 4px solid rgb(239,130,41);
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px #d6e7ef, -3px -3px 10px 0px #d6e7ef;;    
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 72px;
    background: rgb(239,130,41);
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.card-subtitle {
    margin-top: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #393c42;
    font-size: 22px;
}

.card-price {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 68px;
    font-weight: bold;
}

.card-price__text {
    position: relative;
    margin-right: 68px;
    margin-left: 78px;
    color: #36495b;
}

.card-price__text::before {
    content: '$';
    display: block;
    position: absolute;
    text-align: center;
    top: 10px;
    left: -15px;
    font-size: 18px;
    font-weight: bold;
}

.card-price__text::after {
    content: 'Mountly';
    display: block;
    position: absolute;
    text-align: center;
    font-size: 18px;
    bottom: 0;
    right: 0;
    font-weight: bold;
}

.card-ul {
    margin: 0 auto;
    margin-top: 32px;
}

.card-ul ul {
    list-style-type: none;
}

.card-ul ul li {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    padding: 7px;
    padding-left: 65px;
    background: rgb(236,246,252);
    color: #8c929c;
    text-align: left;
    font-size: 16px;
    margin-bottom: 2px;
}

.card-ul ul li:nth-child(even) {
    background: #f4f6f7;
}

.card-ul ul li::before {
    content: '';
    background: url('./img/arrow.png') no-repeat center;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 34px;
}


.card-btn button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    height: 37px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ef8229;
    border-radius: 5px;
    background: #ef8229;
    color: #fff;
    box-shadow: -1px 0px 0px 0px rgb(239,195,165), 0px 3px 0px 0px #b55508;
    cursor: pointer;
    transition: .4s all;
}

.card-btn button:hover {
    background: #86430b;
    border: none;
    box-shadow: none;
}

