input {
    display: none;
}

label {
    display: inline-block;
    margin-top: 10px;
}

label[for="red"] {
    opacity: 0.5;
    color: red;
}

label[for="green"] {
    opacity: 0.5;
    color: green;
}

label[for="blue"] {
    opacity: 0.5;
    color: blue;
}

label {
    margin-right: 15px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

.red, .green, .blue {
    display: none;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#red:checked ~ .red, #green:checked ~ .green, #blue:checked ~ .blue {
    display: inline-block;
}

#red:checked ~ label[for="red"], #green:checked ~ label[for="green"], #blue:checked ~ label[for="blue"] {
    opacity: 1;
}