body {
    font-family: 'Oswald', sans-serif;
}

nav {
    position: relative;
    background-color: #a84cff;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 30px;
}

li:first-child {
    margin-left: 20px;
}

li:last-child {
    position: absolute;
    right: 70px;
}

a {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: .5s all;
}

a:hover {
    display: inline-block;
    width: 100px;
    height: 100%;
    color: #b3b3b1;
    background-color: #efeff0;
}